
//主背景色

@default-bg:#f1f1f1;
@light-bg:#fff;

//navbar背景
@navbar-bg:#f7f7f7;


//下拉列表背景
@select-bg:#f7f7f7;
@selected-bg:#e7e7e7;
@select-line:#e7e7e7;


//评论区背景
@comments-area-bg:#fafafa;

//系统灰色
@system-dark:#c8c7cc;

//字体大小
@font-size-base: 14px ;
@font-size-large: 16px; // ~16px
@font-size-small: 12px; // ~12px

@line-height-base:1.428571429 ; // 20/14

//color

@light:#fff;
@stable:#b0b0b0;
@positive:#157efb;
@calm:#4174d9;
@balanced:#0ab771;
@energized:#f2bb16;
@assertive:#ff3b2f;
@dark:#777;
@light-bg:@light;
@stable-bg:@stable;
@positive-bg:@positive;
@calm-bg:@calm;
@balanced-bg:@balanced;
@energized-bg:@energized;
@assertive-bg:@assertive;
@dark-bg:@dark;


//标题,字体颜色

@gray-dark:#333;   
@gray: #494949 ;
@gray-light:#666;
@gray-lighter:#777;
@gray-lightest:#b0b0b0;
@light:#fff;

@title-default-font-color:@gray-dark;
@joychat-default-font-clor:#999999;
@border-color:#ddd;


//图标、主题字、链接文字颜色

@positive-hover-color:#48a6fc;
@positiveColor:#157efb;
@positive-visited-color:#046dea;


@balance-hover-color:#39cc90;
@balanceColor:#0ab771;
@balance-visited-color:#019a5c;


@energized-hover-color:#fbd668;
@energizedColor:#f2bb16;
@energized-visited-color:#dda80a;

@assertive-hover-color:#f76e6b;
@assertiveColor:#eb413d;
@assertive-visited-color:#df322b;



//图片浏览器背景、对话框弹出背景

@imgbg:#202020;
@dialogbg:@imgbg;

//分割线
@split-line-color:#dddddd;

//components

@border-radius-base:4px;
@border-radius-large:6px ;
@border-radius-small:3px ;



//btn
@btn-font-weight:  normal ;
@btn-height:45px;
@btn-line-height:@btn-height;

@btn-default-color:#333 ;
@btn-default-bg:#32a62e ;
@btn-default-active-border:#32a62e ;
@btn-default-border: @border-color ;

@btn-primary-color:  #fff ;
@btn-primary-bg: @positiveColor;
@btn-primary-active-bg:@positive-visited-color;
@btn-primary-border: @positiveColor; 



@btn-ghost-color: #fff ;
@btn-ghost-bg:@balanceColor;
@btn-ghost-active-bg:@balance-visited-color;
@btn-ghost-border: @balanceColor;

@btn-warning-color:#fff ;
@btn-warning-bg:@assertiveColor;
@btn-warning-active-bg:@assertive-visited-color;
@btn-warning-border: @assertiveColor;

@btn-disabled-font-color:@gray-lightest;
@btn-disabled-bg:@gray-lightest;

// input
// -------------------------
@input-font-size-base:14px;
@input-font-size-small:12px;
@input-font-size-large:16px;
@input-height:45px;
@input-line-height:@input-height;
@input-font-size:@font-size-large;
@input-font-color:@gray-lighter;
@input-color-placeholder:#999;
@input-color-base:#333;
@input-line-height:@input-height;
@jw-input-height:35px;
@jw-input-line-height:@jw-input-height;


//textarea
@textarea-font-size-base:14px;
@textarea-font-size-small:13px;
@textarea-font-size-large:16px;

@textarea-color-placeholder:#999;
@textarea-color-base:#333;
@textarea-line-height:18px;

//list

@list-content-font-color:@gray-dark;
@list-extra-font-clor:@gray-lighter;
@list-font-size:@font-size-base;
@list-item-line-height:48px;

//switch

@switch-font-color:@gray-lighter;


//radio
@radio-font-color:@gray-lighter;
@radio-height:60px;
@radio-padding:0 10px;

@radio-img-width:50px;
@radio-img-height:50px;
@radio-img-margin-right: 20px;

@radio-color:#b0b0b0;
@radio-font-weight:200;
@radio-checked-border-color:#03a9f4;


//checkbox

@checkbox-height:60px;
@checkbox-padding:0 10px;
@checkbox-position-top:20px;
@checkbox-position-right:10px;
@checkbox-position-left:initial;
@checkbox-position-margin-right:10px;

@checkbox-font-color:#b0b0b0;

@checkbox-border-color:#b0b0b0;
@checkbox-checked-border-color:#03a9f4;

@checkbox-img-width:50px;
@checkbox-img-height:50px;
@checkbox-img-margin-right: 20px;

//picker


@picker-color:#333;
@picker-font-size:14px;
@picker-item-color:#333;
@picker-item-font-size:16px;
@picker-popup-item-color:#157efb;
@picker-popup-item-font-size:16px;
@picker-popup-item-padding:18px 30px;
@picker-col-item-height:34px;
@picker-col-item-lineHeight:@picker-col-item-height;
@picker-col-item-fontSize:15px;
@picker-col-item-selected-fontSize:16px;
@picker-col-border:1PX solid #ddd;


//switch

@switch-width:52px;
@switch-height:25px;

@switch-checkbox-width:50px;
@switch-checkbox-height:25px;
@switch-checkbox-background:#fff;
@switch-background:#32a62e;


//关
@switch-checkbox-after-height:29px;
@switch-checkbox-after-width:29px;
@switch-checkbox-afetr-position-right:-5px;
@switch-checkbox-afetr-position-left:-1px;
@switch-checkbox-afetr-position-top:-3px;
@switch-default-border:1px solid #e7e7e7;
//开
@switch-open-afetr-position-left:2px;
@switch-open-afetr-position-top:-2px;
@switch-open-background:#32a62e;

@switch-open-border:transparent;




//list

@list-item-padding:0 10px;
@list-item-min-height:48px;
@list-line-default-padding:0;
@list-font-size:14px;
@list-default-font-color:#b0b0b0;
@list-content-font-color:#333;
@list-border:1px solid #333;
@list-item-line-height:@list-item-min-height;

@list-left-icon-width:20px;
@list-left-icon-height:20px;
@list-arrow-width:15px;
@list-arrow-height:15px;




//form

@form-placeholder-color:#b0b0b0;
@form-bg:#fff;
@form-padding:10px 0;


//TabBar

@tabbar-img-width:18px;
@tabbar-img-height:18px;
@tabbar-font-size:12px;
@tabbar-font-color:#333;


//Tabs

@tabs-bar-margin:0 10px;
@tabs-bar-height:26px;
@tabs-border-radius:5px;
@tabs-default-color:#fff;

//positive
@tabs-positive-border:1px solid #157efb;
@tabs-positive--color:#157efb;
@tabs-positive-bg:#157efb;

//calm
@tabs-calm-border:1px solid #4174d9;
@tabs-calm-color:#4174d9;
@tabs-calm-bg:#4174d9;

//balanced
@tabs-balanced-border:1px solid #0ab771;
@tabs-balanced-color:#0ab771;
@tabs-balanced-bg:#0ab771;

//energized
@tabs-energized-border:1px solid #f2bb16;
@tabs-energized-color:#f2bb16;
@tabs-energized-bg:#f2bb16;

//assertive
@tabs-assertive-border:1px solid #ff3b2f;
@tabs-assertive-color:#ff3b2f;
@tabs-assertive-bg:#ff3b2f;

//gray
@tabs-gray-border:1px solid #777;
@tabs-gray-color:#777;
@tabs-gray-bg:#777;

//弹出层
@modal-default-font-size:14px;
@modal-default-font-size-sl:12px;
@modal-default-font-size-lg:16px;


@modal-mask-background:rgba(0,0,0,0.8);
@modal-content-radius:10px;
@modal-close-position-right:15px;
@modal-close-position-left:inherit;
@modal-close-font-size:0.38rem;

@modal-body-img-width:70px;
@modal-body-img-height:70px;
@modal-body-default-font-color:#999;
@modal-body-title-font-color:#333;

@modal-body-btn-font-color:#777;


//card

@card-default-bg:@light-bg;
@card-default-font-color:@light;
@card-font-color:@gray-dark;
@card-bg:@balanceColor;


//search
@search-height:28px;
@search-lineHeight:28px;
@search-input-color:#333;
@search-placeholder-color:#999;
@search-fontSize:13px;

//actionsheet

@actionsheet-destructive-color:#ff3b2f;
@actionsheet-font-size:14px;
@actionsheet-default-color:#333;
@actionsheet-title-color:#777;
@actionsheet-title-font-size:16px;
@actionsheet-height:45px;
@actionsheet-line-height:@actionsheet-height;

//toast 轻提示

@toast-bg:#5b5b5b;
@toast-padding:10px 20px;
@toast-color:#fff;




//icons

@icon-bg:url(build/images/icons.png) no-repeat;
@icon-bgSize:200px;
@icon-chart-width:20px;
@icon-chart-height:20px;
@icon-bgPos:0 0;
@icon-active-hover-bgPos:-20px 0;
@icon-like-width:18px;
@icon-like-height:18px;
@icon-like-pos:0 -21px;
@icon-like-active-hover-pos:-20px -21px;
@icon-dept-width:20px;
@icon-dept-height:20px;
@icon-dept-pos:0 -40px;
@icon-dept-active-hover-pos:-27px -40px;
@icon-close-width:16px;
@icon-close-height:16px;
@icon-close-pos:0 -60px;
@icon-close-active-hover-pos:-20px -60px;
@icon-filter-width:18px;
@icon-filter-height:19px;
@icon-filter-pos:0 -80px;
@icon-filter-active-hover-pos:-20px -80px;
@icon-pass-width:19px;
@icon-pass-height:19px;
@icon-pass-pos:0 -100px;
@icon-pass-active-hover-pos:-20px -100px;
@icon-nopass-width:19px;
@icon-nopass-height:19px;
@icon-nopass-pos:0 -120px;
@icon-nopass-active-hover-pos:-20px -120px;
@icon-as-width:20px;
@icon-as-height:16px;
@icon-as-pos:0 -140px;
@icon-as-active-hover-pos:-20px -140px;
@icon-forward-width:17px;
@icon-forward-height:19px;
@icon-forward-pos:0 -160px;
@icon-forward-active-hover-pos:-20px -160px;
@icon-peopleTalk-width:24px;
@icon-peopleTalk-height:17px;
@icon-peopleTalk-pos:0 -180px;
@icon-peopleTalk-active-hover-pos:-26px -180px;
@icon-add-width:18px;
@icon-add-height:18px;
@icon-add-pos:0 -200px;
@icon-add-active-hover-pos:-20px -200px;
@icon-less-width:20px;
@icon-less-height:2px;
@icon-less-pos:0 -220px;
@icon-less-active-hover-pos:-20px -220px;
@icon-application-width:19px;
@icon-application-height:19px;
@icon-application-pos:0 -226px;
@icon-application-active-hover-pos:-20px -226px;
@icon-file-width:22px;
@icon-file-height:18px;
@icon-file-pos:0 -247px;
@icon-file-active-hover-pos:-26px -247px;
@icon-address-width:21px;
@icon-address-height:21px;
@icon-address-pos:0 -266px;
@icon-address-active-hover-pos:-26px -266px;
@icon-good-width:20px;
@icon-good-height:20px;
@icon-good-pos:0 -293px;
@icon-good-active-hover-pos:-20px -293px;
@icon-setting-width:19px;
@icon-setting-height:19px;
@icon-setting-pos:0 -313px;
@icon-setting-active-hover-pos:-20px -313px;
@icon-search-width:19px;
@icon-search-height:19px;
@icon-search-pos:-53px 0;
@icon-search-active-hover-pos:-73px 0;
@icon-msg-width:23px;
@icon-msg-height:19px;
@icon-msg-pos:-47px -20px;
@icon-msg-active-hover-pos:-73px -20px;
@icon-help-width:19px;
@icon-help-height:19px;
@icon-help-pos:-53px -40px;
@icon-help-active-hover-pos:-73px -40px;
@icon-exit-width:19px;
@icon-exit-height:19px;
@icon-exit-pos:-53px -180px;
@icon-exit-active-hover-pos:-73px -180px;



